@charset "utf-8";
$c-white:#fff!important;
$c-f6:#f6f6f6!important;
$c-f9:#f9f9f9!important;
$c-ec:#ececec!important;
$c-e3:#e3e3e3!important;
$c-ccc:#ccc!important;
$c-999:#999!important;
$c-grey:#8c8c8c!important;
$c-666:#666!important;
$c-333:#333!important;
$c-warning:#e65353!important;
$c-light-orange:#FF7510!important;
$c-orange:#FF6600!important;
$c-light-green:#38c9af!important;
$c-green:#06C1AE!important;
$c-blue:#39bde3!important;
$hover-green:#12d8c4!important;
$bg-green:#38c9af!important;





